# MATLAB
*.asv
*.m~
*.mex*
slprj/
sccprj/
codegen/
*.slxc

# Mac OS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Python (in case of MATLAB-Python integration)
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sql
*.sqlite

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# IDE-specific files
.vscode/
*.sublime-workspace
*.sublime-project
.idea/

# Other common files to ignore
*.bak
*.swp
*.tmp
*~
